@{
    ViewData["Title"] = "Edit Game";
}
@model VideoGames.Models.Game
<div>
    <form method="post">
            <div class="form-body">
                <input type="hidden" asp-for=Id defaultValue=@Model.Id/>
                <div>
                  <label for="InputTitle" class="form-label">Name</label>
                  <input type="text" class="form-control" asp-for="Title" defaultValue=@Model.Title />
                </div>
                <div>
                  <label for="InputTitle" class="form-label">Release Date</label>
                  <input type="date" class="form-control" asp-for="ReleaseDate" defaultValue=@Model.ReleaseDate />
                </div>
                <div>
                  <label for="InputGenre" class="form-label">Genre</label>
                  <input type="text" class="form-control" asp-for="Genre" defaultValue=@Model.Genre />
                </div>
                <div>
                  <label for="InputDescription" class="form-label">Description</label>
                  <textarea type="text" class="form-control" asp-for="Description" defaultValue=@Model.Description></textarea>
                </div>
            </div>
            <div class="form-footer my-2">
              <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </form>
</div>